/* Default Light Theme */
:root {
  --background-color: #ffffff;
  --text-color: #333;
  --link-color: #007BFF;
  --nav-background: #f4f4f4;
  --nav-text: #333;
}

/* Dark Theme */
[data-theme="dark"] {
  --background-color: #121212;
  --text-color: #e0e0e0;
  --link-color: #4A90E2;
  --nav-background: #1f1f1f;
  --nav-text: #e0e0e0;
}

/* General Styles */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Navigation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5px;
  background-color: var(--nav-background);
  color: var(--nav-text);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  text-decoration: none;
  color: var(--link-color);
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Theme Toggle Button */
#theme-toggle {
  float: right;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: var(--text-color);
  color: white;
  transition: background-color 0.3s;
}

#theme-toggle:hover {
  background-color: #0056b3;
}

/* Section Styling */
section {
  padding: 20px;
}

.job h4,
.job h5 {
  color: var(--text-color);
}

/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Container Layout */
.container {
  display: block;
  width: 100%;
  padding: 20px;
}

/* Intro Section */
.intro {
  padding: 20px;
  margin-bottom: 20px;
}

.intro h1{
  margin-bottom: 20px;
}
.intro h2 {
  margin-bottom: 20px;
}

.intro p {
  margin-bottom: 20px; 
}

.intro img {
  width: 40px;
  margin-left: 35px;
  margin-top: 30px;
}

/* Links Section */
.links {
  padding: 20px;
  display: flex;
  gap: 60px;
}

.links img {
  width: 30px;
  height: 30px;
}

/* Content Section */
.content {
  padding: 20px;
}

.content section {
  margin-bottom: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
}

.job {
  margin-bottom: 20px;
}

.job h4 {
  margin-bottom: 5px;
  font-size: 1.2em;
}

.job h5 {
  margin-bottom: 10px;
  font-size: 1em;
}

.job ul {
  margin-left: 20px;
  list-style-type: disc;
}

.job ul li {
  margin-bottom: 5px;
}
